html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #f9f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
}
#card {
    position: relative;
    background-color: #fff;
    height: 400px;
    width: 450px;
    border: solid black;
    
    
}
#card img{
    height: 100%;
    width : 100%;
    object-fit: cover;
}
#card i{
 color: #fff;
 font-size: 80px;
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50% , -50%) scale(0);
 opacity: 0.8;
 transition: transform ease 0.5s;
}


.card2{
    background-color: #f9f6f6;
    height: 50px;
    width: 450px;
    border: solid #f9f6f6;
    display: flex;
    left: 50%;
} 
.card2 b{
 font-size: 50px;
}
.card2 h5{
    font-style: italic;
    color: rgb(190, 184, 184)}